.hero {
  height: 90vh;
  background-color: #ddd7d7;

}

.text {
  padding: 8em 3em;
  
}

.title {
  width: 500px;
  line-height: 1;
  font-size: 3.5em;
  font-weight: 700;
  color: #2a2a58;
}

.para {
  width: 550px;
  margin-top: 1em;
  font-size: 1.3em;
}

.button {
  display: flex;
  align-items: center;
  padding: .5em 1em;
  margin-top: 1em;
  background-color: #084208;
  color: #fff;
  border-radius: 5px;
}